<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>opensrs</display-name>
  <welcome-file-list>
    <welcome-file>menu.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.poc.utils.POCServerStartup</listener-class>
  </listener>
  <servlet>
    <servlet-name>OpenSRSMailTestServlet</servlet-name>
    <servlet-class>com.poc.opensrs.OpenSRSMailTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenSRSMailTestServlet</servlet-name>
    <url-pattern>/OpenSRSMailTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenSRSDomainSearchServlet</servlet-name>
    <servlet-class>com.poc.opensrs.OpenSRSDomainSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenSRSDomainSearchServlet</servlet-name>
    <url-pattern>/OpenSRSDomainSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IrisCBTestServlet</servlet-name>
    <servlet-class>com.poc.iriscb.IrisCBTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IrisCBTestServlet</servlet-name>
    <url-pattern>/IrisCBTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenSRSDomainServlet</servlet-name>
    <servlet-class>com.poc.opensrs.DomainSettings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenSRSDomainServlet</servlet-name>
    <url-pattern>/DomainSettings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenSRSDNSServlet</servlet-name>
    <servlet-class>com.poc.opensrs.DNSSettings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenSRSDNSServlet</servlet-name>
    <url-pattern>/DNSsettings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenSRSRevokeDomain</servlet-name>
    <servlet-class>com.poc.opensrs.RevokeDomain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenSRSRevokeDomain</servlet-name>
    <url-pattern>/OpenSRSRevokeDomain</url-pattern>
  </servlet-mapping>
</web-app>